<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SignUpStudentController</display-name>
    <servlet-name>SignUpStudentController</servlet-name>
    <servlet-class>student.controller.SignUpStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpStudentController</servlet-name>
    <url-pattern>/SignUpStudentController</url-pattern>
  </servlet-mapping>
  <display-name>ecurricular</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>student.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profileStudentController</display-name>
    <servlet-name>profileStudentController</servlet-name>
    <servlet-class>student.controller.profileStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileStudentController</servlet-name>
    <url-pattern>/profileStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpTeacherController</display-name>
    <servlet-name>SignUpTeacherController</servlet-name>
    <servlet-class>teacher.controller.SignUpTeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpTeacherController</servlet-name>
    <url-pattern>/SignUpTeacherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationController</display-name>
    <servlet-name>registrationController</servlet-name>
    <servlet-class>student.controller.registrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationController</servlet-name>
    <url-pattern>/registrationController</url-pattern>
  </servlet-mapping>
</web-app>